.alert {
  margin: 0.5rem 1rem;
  padding: 0.6rem;

  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
}
