* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

p {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

li {
  padding-left: 2rem;
  display: block;
  list-style: circle;
}

ul,
ol {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

ul li {
  margin-bottom: 0.3rem;
}

a {
  display: block;
  color: black;
  text-decoration: none;

  &:hover {
    color: #222;
  }
}
